{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>
    {% if homeContent.titre is defined and homeContent.titre is not null %}
        {{ homeContent.titre }}
    {% endif %}
</h1>
<p>
    {% if homeContent.presentation is defined and homeContent.presentation is not null %}
        {{ homeContent.presentation }}
    {% endif %}
</p>

<hr>
<h2>
    Nos dernier evenement
</h2>
{% for evenement in evenements %}
         <h4>{{ evenement }}</h4>
         <p>
           <a href="{{ path('evenement', { id: evenement.id }) }}">View</a>
         </p>
     {% endfor %}
{% endblock %}
