{% extends 'base.html.twig' %}

{% block title %}Edit Evenement{% endblock %}

{% block body %}

    <h1>Edit Evenement</h1>

    <a href="{{ path('admin_evenement_index') }}" class="btn btn-dark">Retour</a>

    {{ include('admin_evenement/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('admin_evenement/_delete_form.html.twig') }}

{% endblock %}
