{% extends 'base-admin.html.twig' %}

{% block title %}New Evenement{% endblock %}

{% block body %}
    <h1>Creer nouvel evenement</h1>

    <a href="{{ path('admin_evenement_index') }}" class="btn btn-dark">retour</a>

    {{ include('admin_evenement/_form.html.twig') }}

{% endblock %}
