{% extends 'base.html.twig' %}

{% block title %}Hello EvenementController!{% endblock %}

{% block body %}
<h1>
    Nos evenements:
</h1>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse eligendi officia, nobis odit ad inventore consequatur doloremque cumque, voluptatum, nulla possimus. Qui laborum ad a neque vel explicabo. Porro sunt laborum magnam quam eum alias, at est, expedita provident aspernatur, eos rem asperiores! Molestiae, commodi nobis? Adipisci molestiae omnis, ea consectetur a odit ipsa! Labore hic voluptatibus culpa sed ipsum neque adipisci. Tempora nihil at itaque quidem magnam eum asperiores in quis nemo nostrum saepe sit animi ipsum, quo officia!
</p>

<hr>

    {% for evenement in evenements %}

        <p>
        <a href="{{ path('evenement', { id: evenement.id }) }}">View</a>
        </p>
     {% endfor %}

{% endblock %}
