{% extends 'base-admin.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<h1>Modification {{ title }}</h1>

<a href="{{ path('admin_user_index', {"role": role}) }}" class="btn btn-dark">retour a la liste</a>

{{ include('admin_user/_form.html.twig', {'button_label': 'Update'}) }}

{{ include('admin_user/_delete_form.html.twig') }}
{% endblock %}
